body {
  color: #333;
  font-family: arial;
  max-width: 650px;
  margin: 10px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #000;
  font-size: 64px;
}

header {
  margin-bottom: 48px;
}

header .menu a {
  margin-right: 1rem;
}

.main-content {
  flex-grow: 1;
}

footer {
  margin-top: 2rem;
  padding: .5rem 0;
  border-top: solid 1px #cad8df;
  color: #607D8B;
}

a {
  color: #03A9F4;
  text-decoration: none;
}

img {
  width: 250px;
  border-radius: 6px;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 3px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: #fff;
  padding: 8px;
  border-radius: 3px;
}

button:hover,
button:focus {
  background: #000;
}